#category-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

#category-1 {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  border: #000000 1px solid;
  border-radius: 15px;
  margin: 5px 5px 5px 5px;
  box-shadow: #7c7c7c 5px 5px 5px;
}

#category-2 {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  border: #000000 1px solid;
  border-radius: 15px;
  margin: 5px 5px 5px 5px;
  box-shadow: #7c7c7c 5px 5px 5px;
}

#category-3 {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  border: #000000 1px solid;
  border-radius: 15px;
  margin: 5px 5px 5px 5px;
  box-shadow: #7c7c7c 5px 5px 5px;
}

#male {
  position: relative;
  left: 30px;
  height: 200px;
}

#cat-1-text {
  position: relative;
  top: 175px;
  left: -155px;
}

#female {
  height: 200px;
}

#cat-2-text {
  position: relative;
  top: 175px;
  left: -175px;
}

#live {
  position: relative;
  left: 55px;
  top: 20px;
  height: 175px;
}

#cat-3-text {
  position: relative;
  top: 185px;
  left: -110px;
}

#cat-text {
  font-weight: bold;
}
