#service-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  height: 200px;
}

#svc {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 60px;
}

#main-service {
  font-weight: bold;
}

#second-service {
  color: gray;
  margin-top: -10px;
}
